.product_container{
    width: 100%;
    display: flex;
}

.img_selection{
    display: flex;
    justify-content: space-between;
    margin:80px 4vw;
    gap:40px;
    width: 38%;
    height: 600px;
    box-shadow: 0 5px 5px rgba(1,23,46,0.6);

}


.thumb_cont{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 60px;
    justify-content: space-between;
}

.thumb{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
}

.thumb:hover{
    opacity: 1;
}

.selecting_img{

    height: 600px;
}

.selected_img{
    width: 480px;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1,23,46,0.6);
}

.styles.desc{

}

.Description_Container{
    padding:70px 0px;
}

.buy_container{}